html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}